@tailwind base;
    @tailwind components;
    @tailwind utilities;

    /* Estilos personalizados adicionales */
    .custom-scrollbar::-webkit-scrollbar { 
        width: 6px; 
    }
    .custom-scrollbar::-webkit-scrollbar-track { 
        background: #f1f1f1; 
    }
    .custom-scrollbar::-webkit-scrollbar-thumb { 
        background: #d6d3d1; 
        border-radius: 4px; 
    }

    /* Animaciones */
    .fade-in { 
        animation: fadeIn 0.3s ease-in-out; 
    }

    @keyframes fadeIn { 
        from { opacity: 0; transform: translateY(5px); } 
        to { opacity: 1; transform: translateY(0); } 
    }